POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
DB_URI=postgresql+psycopg://postgres:postgres@postgres:5432/postgres

OPENAI_API_KEY=your_openAI_key
OPENAI_MODEL="gpt-5.4"

SUPERADMIN_USERNAME=superadmin
SUPERADMIN_EMAIL=superadmin@example.com
SUPERADMIN_PASSWORD=supersecret

TOOL_CONCURRENCY_LIMIT=5